html {
    scroll-behavior: smooth;
}

body{
    padding: 0%;
    margin: 0%;
    width: 100%;
    box-sizing: border-box;
}



/* ************************************UTILIDADES************************************ */
:root {
    --primario:#fb5607;
    --secundario: #14213d;

}




/*************************************************************************************/




/* ************************************NAVBAR************************************ */

nav{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    background-color: var(--secundario);
    color: var(--primario);
    font-size: 20px;
    
}

nav ul {
   display: flex; 
   flex-direction: row;   
}

.lista{
    list-style: none;
    display: flex;
    justify-content: center;
}


nav h1{
    font-size: 20px;
    display: flex;
}

.random{
    border-radius: 89px 89px 89px 89px;
    -webkit-border-radius: 89px 89px 89px 89px;
    -moz-border-radius: 89px 89px 89px 89px;
    border: 2px solid var(--primario);
    background-color: transparent;
    color: var(--primario);
    /* animation: fill 5s infinite ease-in-out; */
}

.random:hover {
    background-color: var(--primario);
    color: var(--secundario);
    animation: pulse 1s;
}


/* ***************************************************************************** */


/* ************************************MAIN************************************ */

main {
    background-color: grey;
    height: 100vh;
}


.contenedor-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0%;
    justify-content: space-evenly;
    
}

.card-mangas {
    border-radius: 30px;
    margin-top: 30px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    
}

.card-mangas img {
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}


.mini-container-cards {
    flex-direction: row;
    text-align: center;
}

.mini-container-cards span {
    border-radius: 30px;
    padding: 8px;
    background-color: grey;
} 


/* ***************************************************************************** */


/* ************************************FOOTER************************************ */

footer {
    background-color: var(--secundario);
}

.footer-list{
    display: flex;
    flex-direction: row;
    padding: 1%;
    
    margin: 0;
    color: var(--primario);
}

.footer-lista{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}